# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env / secrets
.env
.venv/
venv/

app/data/chats/debugoutputs.txt
app/data/chats/debuginputs.txt
app/data/chats/agentOutputs
app/data/chats/agentOutputs/*.txt

# Chat data
!app/data/chats/Chat 1.json
app/data/chats/debugoutputs.txt
app/data/chats/debuginputs.txt
app/data/chats/*.json
!app/data/chats/7.json
app/data/chats/agentOutputs/*.json:
!app/data/chats/agentOutputs/7.json

# Optional generated/experimental junk
scratch.py

# Python cache
__pycache__/
!app/__init__.py
!app/**/__init__.py
