.layout {
  display: flex;
  gap: 20px;
}

.left,
.right {
  width: 300px;
}

.left {
  position: relative;
  /*overflow: hidden;*/
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15);
}

.middle {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.15);
}

.pane-tab-header,
.loadout-config-header {
  padding: 22px 0px 14px;
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #000;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.95);
  text-shadow:
    0.5px 0 0 rgba(255, 255, 255, 0.95),
    -0.5px 0 0 rgba(255, 255, 255, 0.95),
    0 0.5px 0 rgba(255, 255, 255, 0.95),
    0 -0.5px 0 rgba(255, 255, 255, 0.95);

  transition: opacity 250ms ease;
}


#chats-header {
  padding: 22px 30px 16px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.42);
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #000;
  margin: 0 0 14px;
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.95);
  text-shadow:
  0.5px 0 0 rgba(255, 255, 255, 0.95),
    -0.5px 0 0 rgba(255, 255, 255, 0.95),
    0 0.5px 0 rgba(255, 255, 255, 0.95),
    0 -0.5px 0 rgba(255, 255, 255, 0.95);

}

.middle-head {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid rgba(255, 255, 255, 0.42);
}

#character-cards-button {
  align-self: flex-start;
  margin-left: 30px;
}

#loadout-cards-button {
  align-self: flex-end;
  margin-right: 30px;
}

.pane-tab-button {
  border: none;
  background: transparent;
  font: inherit;
  cursor: pointer;

}

#character-cards-button:hover .pane-tab-header {
  color: rgba(255, 255, 255, 0.95);
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.95);
}
#loadout-cards-button:hover .pane-tab-header {
  color: rgba(255, 255, 255, 0.95);
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.95);
  text-shadow:
    0.5px 0 0 rgba(255, 255, 255, 0.95),
    -0.5px 0 0 rgba(255, 255, 255, 0.95),
    0 0.5px 0 rgba(255, 255, 255, 0.95),
    0 -0.5px 0 rgba(255, 255, 255, 0.95);
}

.hidden {
  display: none !important;
}

.selectable-for-chat {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.selectable-for-chat:hover {
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.65);
  transform: translateY(-2px);
}

.selected-for-chat  {
  box-shadow: 0 0 54px rgb(24, 147, 255);
  transform: translateY(-2px);
}

.selectable-for-chat:hover {
  cursor: pointer;
}

.middle,
#character-cards,
#loadout-cards {
  transition: all 250ms ease;
}

.left,
.right,
#loadout-cards-button
#character-cards-button {
  opacity: 1;
  transition:
    opacity 250ms ease,
    width 700ms ease;
}

.layout.config-expand-widen #loadout-cards,
.layout.config-expand-widen #character-cards {
  opacity: 0;
}

.layout.config-expand-widen .left,
.layout.config-expand-widen .right {
  width: 0;
}

.layout.config-expand-hide .left,
.layout.config-expand-hide .right {
  opacity: 0;
}

.pane-tab-header,
.loadout-config-header {
  transition: opacity 250ms ease;
}

.loadout-config-header {
  position: absolute;
  left: 30px;

  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.layout.config-expand-widen .pane-tab-header {
  opacity: 0;
}

.layout.config-expand-widen .loadout-config-header {
  opacity: 1;
}

.layout.config-expand-widen .loadout-config-header {
  opacity: 1;
}

.layout.config-expand-widen #character-cards-button,
.layout.config-expand-widen #loadout-cards-button {
  opacity: 0;
  pointer-events: none;
}

#character-cards-button {
  align-self: flex-start;
  margin-left: 30px;
}

#loadout-cards-button {
  align-self: flex-end;
  margin-right: 30px;
}

.pane-tab-button {
  border: none;
  background: transparent;
  font: inherit;
  cursor: pointer;
  transition: opacity 250ms ease;
}