.chat-card {
    padding: 10px 10px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgba(0,0,0, 0.2);
    border-radius: 12px;

    margin: 10px;
    height: 80px;
    
    align-items: center;

    border: 2px solid rgba(220, 220, 220, 0.384)
}

.chat-card-image {
    display: block;
    height: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;

    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    background-color: lightgray;

}

.chat-card-text {
    display: flex;
    flex-direction: column;

    font-family: "Manrope", sans-serif;
}